<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @index.theme %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @index.detail %>
</p>

<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
